---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <header class="relative">
    <Navbar />
    <div class="bg-pattern">
    </div>
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
        <div class="max-w-lg">
          <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
            About Us
          </h2>
          <p class="mt-4 text-gray-600 text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
            eros at lacus feugiat hendrerit sed ut tortor. Suspendisse et magna
            quis elit efficitur consequat. Mauris eleifend velit a pretium
            iaculis. Donec sagittis velit et magna euismod, vel aliquet nulla
            malesuada. Nunc pharetra massa lectus, a fermentum arcu volutpat
            vel.
          </p>
          <div class="mt-8">
            <a href="mailto:hello@grundwerk.design" class="text-indigo-600 hover:text-indigo-500 font-medium">
              Contact us
              <span class="ml-2">&#8594;</span></a
            >
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <img
            src="https://images.unsplash.com/photo-1531973576160-7125cd663d86"
            alt="About Us Image"
            class="object-cover rounded-lg shadow-md"
          />
        </div>
      </div>
    </div>
  </header>

  <Footer />
</Layout>
<style>
  header {
    height: 100%;
    min-height: 90vh;
  }
</style>
