---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
import ProductVideo from "../components/ProductVideo.astro";
import Products from "../components/Products.astro";
import Footer from "../components/Footer.astro";
import ScrollIndicator from "../components/ScrollIndicator.astro";
import { Image } from "astro:assets";
import header from "../assets/header.png";
import headerMobile from "../assets/header-mobile.png";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<header class="relative h-[70vh] md:h-screen md:w-screen">
		<Navbar />

		<div class="header-bg">
			<Image src={header} alt="grundwerk lettering" class="hidden md:block" />
			<Image
				src={headerMobile}
				alt="grundwerk lettering"
				class="block md:hidden"
			/>
		</div>
		<ScrollIndicator />
	</header>

	<ProductVideo />

	<Products />

	<Footer />
</Layout>
