---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import header from "../assets/abstract-bg.jpg";
import Navbar from "../components/Navbar.astro";
import Websites from "../components/Websites.astro";
---

<Layout>
  <header class="relative">
    <Navbar />
    <div class="header-bg absolute z-[-1]">
      <Image src={header} alt="abstract background" width={1200} priority />
    </div>
    <h1 class="text-6xl font-thin">Web Development</h1>
  </header>

  <main>
    <p class="text-3xl text-gray-600 max-w-2xl text-center px-6 mx-auto mt-40">
      Below you’ll find a selection of websites we've designed and developed,
      showcasing the focus on performance, usability, and modern design.
    </p>

    <Websites showAll={true} />
  </main>

  <Footer />
</Layout>
<style>
  header {
    height: 100%;
    min-height: 50vh;
  }

  .header-bg img {
    object-position: center;
  }
  .header-bg::after {
    content: "";
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll("[data-product-card]");

    gsap.set(cards, { opacity: 0, y: 150 });

    ScrollTrigger.batch(cards, {
      start: "top 85%",
      onEnter: (batch) => {
        gsap.to(batch, {
          opacity: 1,
          y: 0,
          duration: 1,
          stagger: 0.08,
          ease: "power2.out",
        });
      },
      once: true,
    });
  });
</script>
