<footer class="bg-gray-100">
  <div
    class="max-w-screen-xl py-10 text-gray-800 md:flex justify-between mx-auto"
  >
    <div class="p-5 md:w-8/12">
      <h3 class="font-bold text-3xl text-indigo-600 mb-4 text-center md:text-left">grundwerk</h3>

      <div class="flex text-gray-500 uppercase text-sm justify-center md:justify-start">
        <a href="/" class="mr-2 hover:text-indigo-600">Home</a>
        <a href="/products" class="mr-2 hover:text-indigo-600">Products</a>
        <a href="/about" class="mr-2 hover:text-indigo-600">About Us</a>
        <!-- todo privacy & imprint -->
      </div>
    </div>
    <div class="p-5 md:w-4/12">
      <h3 class="font-light text-indigo-600 uppercase text-center md:text-right mb-4">Get in Touch</h3>
      <p class="text-2xl text-center md:text-right">
        <a href="mailto:hello@grundwerk.design" class="hover:text-indigo-600">
          hello@grundwerk.design
        </a>
      </p>
    </div>
  </div>
  <div
    class="flex py-5 m-auto text-gray-800 text-sm flex-col items-center border-t max-w-screen-xl"
  >
    <p>© Copyright {new Date().getFullYear()}. All Rights Reserved.</p>
  </div>
</footer>
