---
import Logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<nav
  class="absolute inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg"
>
  <div class="px-4">
    <div class="flex items-center justify-between">
      <div class="flex shrink-0">
        <a aria-current="page" class="flex items-center" href="/">
          <Image
            src={Logo}
            alt="grundwerk logo"
            class="h-8 w-auto"
            width={32}
            height={32}
          />
          <p class="sr-only">grundwerk</p>
        </a>
      </div>
      <div class="flex md:items-center md:justify-center md:gap-5">
        <a
          aria-current="page"
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="/products">Products</a
        >
        <a
          class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
          href="/about">About us</a
        >
      </div>
      <div class="flex items-center justify-end gap-3">
        <a
          class="inline-flex items-center justify-center rounded-xl bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          href="mailto:hello@grundwerk.design">Contact</a
        >
      </div>
    </div>
  </div>
</nav>
