@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5em;
  margin: 0;
  background: white;
  background-image:
    linear-gradient(to right, rgba(71, 85, 105, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(71, 85, 105, 0.15) 1px, transparent 1px),
    radial-gradient(circle at 50% 60%, rgba(236, 72, 153, 0.15) 0%, rgba(168, 85, 247, 0.05) 40%, transparent 70%);
  background-size: 40px 40px, 40px 40px, 100% 100%;
}

svg {
  height: auto;
  width: 200px;
}

svg path {
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 1;
  /* stroke-dasharray = document.querySelector('svg path'); console.log(path.getTotalLength()); */
  stroke-dasharray: 1793;
  stroke-dashoffset: 1793;
  animation:
    draw 8s linear forwards,
    fillIn 2s linear forwards 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillIn {
  to {
    fill-opacity: 1;
  }
}

.loading {
  display: none;
}

#model-section {
  height: 100vh;
}

#model-canvas-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
}

#text-wrapper {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}

.step-text {
  font-size: 1.5rem;
  opacity: 0;
  transform: translateX(-100%); /* start off-screen left */
}