---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- todo favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>grundwerk</title>
		<!-- todo meta stuff -->
	</head>
	<body>
		<slot />
	</body>
</html>
